* {
	min-height: 100%;
	font-family: JetBrains Mono, monospace;
}

html {
	background-image: url('../assets/backgrounds/city-lights.jpg');
	background-attachment: fixed;
	background-position: center;
	/* background-size: contain; */
	/* background-repeat: no-repeat; */
	cursor: url('../assets/cursors/Hacked Mod Cursors/Hacked Mod Green/Arrow.cur'), auto;
}

body {
	color: white;
	background: #00000000;
	max-width: 55%;
	margin-top: 20px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	cursor: url('../assets/cursors/Hacked Mod Cursors/Hacked Mod Green/Arrow.cur'), auto;
}

h1 {
	color: #00ff00;
	text-align: center;
}

h2 {
	color: #00ff00;
}

h3 {
	color: #00ff00;
}

p {
	color: white;
	cursor: url('../assets/cursors/Hacked Mod Cursors/Hacked Mod Green/IBeam.cur'), auto;
}

a {
	color: #00ff00;
	text-decoration: none;
	cursor: url('../assets/cursors/Hacked Mod Cursors/Hacked Mod Green/Hand.cur'), auto;
}

summary {
	cursor: url('../assets/cursors/Hacked Mod Cursors/Hacked Mod Green/Hand.cur'), auto;
}

::selection {
	background: #00ff00;
	color: black;
}

@media screen and (max-width: 768px) {
	body {
		max-width: 85%;
	}

	h2 {
		font-size: 18px;
	}

	h3 {
		font-size: 16px;
	}

	p, a, li, summary, marquee {
		font-size: 12px;
	}

	.container .stack span {
	    font-size: 32px;
	}

	.categories a {
		font-size: 12px;
	}
}
